<%= render 'users/list', user: @user, book: @book %>
<div class="col-xs-9">
 <h2>User Edit</h2>
  <%= form_for(@user_image) do |f| %>
   <% if @user_image.errors.any? %>
     <div class="error_explanation">
    	<h2><%= @user_image.errors.count %>件のエラーが発生しました</h2>
    	<ul>
  	  <% @user_image.errors.full_messages.each do |message| %>
  	  <li><%= message %></li>
  	 <% end %>
    	</ul>
     </div>
   <% end %>
   <%= f.attachment_field :image %><br>
   <label class="user_name">User name</label><br>
   <%= f.text_field :name %><br>
   <label class="introduction">Introduction</label><br>
   <%= f.text_area :introduction %><br>
   <%= f.submit "送信" %>
  <% end %>
</div>

<!-- 部分テンプレート用のcontainer締めのdiv -->
</div>
</div>