<% if flash[:notice] %>
  <div class="notice_message">
    <%= flash[:notice] %>
  </div>
<% end %>

<section class="index_box">
	<h1>Books</h1>
		<table>
			<tr>
				<th class="index_title_title">Title</th>
				<th class="index_title_body">Body</th>
		 	</tr>
				<% @reviews.each do |review| %>
	 				<tr class="index_review">
	 					<td><span><%= review.title %></span></td>
						<td><span> <%= review.review %></span></td>
		 				<td class="reviselinks"><%= link_to 'Show', review_path(review.id) %></td>
	 					<td class="reviselinks"><%= link_to 'Edit', edit_review_path(review.id) %></td>
	 					<td class="reviselinks"><%= link_to 'Destroy', review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか?" %></td>
					</tr>
				<% end %>
	  	<table>

	<h2 class="index_newbook_title">New book</h2>
 	<%= form_for(@review) do |f| %>
 	 <% if @review.errors.any? %>
 	   <h3>入力した内容にエラーが<%= @review.errors.count %>件あります</h3>
 	    <ul>
	      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
   		</ul>
 	   	<% end %>
 		<h4>Title</h4>
 		<%= f.text_field :title %>
 		<h4>Body</h4>
 		<%= f.text_area :review %><br>
 		<%= f.submit 'Create Book'%>
 	<% end %>
</section>